:root {
	/* Site colors */
	--dark-primary-color: #303F9F;
 	--light-primary-color: #C5CAE9;
 	--primary-color: #3F51B5;
 	--text-icon-color: #FFFFFF;
	--accent-color: #4CAF50;
	--divider-color: #BDBDBD;	
	--background-color: #FFFFFF;
	--shadow-color: hsla(0, 0%, 0%, 0.2);

	 /* Text color */
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
}

#searchBar {
  margin: 15px 10px;
}
  
.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

/* The header bar */
.topnav {
	overflow: hidden;
	background-color: var(--primary-color);
}

/* The logo in the header */
.topnav .topnav-logo {
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px; 
	height: 69px;
	padding: 10px 16px;
}

/* Links in the header*/
.topnav .topnav-link {
	float: left;
	display: block;
	color: var(--text-icon-color);
	text-align: center;
	padding: 28px 16px;
	text-decoration: none;
	font-family: var(--header-font);
}

/* Keep the logo in the box */
#logo-link {
	box-sizing: initial;
}

/* Links in the header when a mouse is over them */
.topnav .topnav-link:hover {
	border-bottom: 4px solid var(--accent-color);
	padding-bottom: 24px;
	color: var(--accent-color);
}

/* The header menu is only visible when the screen is small */
.topnav .topnav-menu-icon {
	display: none;
	font-size: 20px;
}

/* Move each link to the right side of the page */
.topnav .topnav-right {
	float: right;
}

/* External link icon */
.external-link {
	color: var(--light-primary-color);
	font-size: .75em;
}
