<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
      crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-route.js"></script>
  <head>
    <title>Food Baby</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

  <body>
    <div class ="topnav">
        <!-- Logo -->
        <a id="logo-link" href="../index.html">
          <img class="topnav-logo" src="../assets/images/foodbaby_temp.jpg" alt="Food Baby logo">
        </a>

      <!-- Page links -->
		  <div class="topnav-right">
        <div class="topnav-placeholder"></div>
          <a class="topnav-link" href="freeFood.html">Free Food</a>
          <a class="topnav-link" href="locations.html">Locations</a>
          <a class="topnav-link" href="addFreeFood.html">Add Free Food</a>
      </div>
  
      <!-- Drop down menu -->
      <a href="javascript:void(0);" class="topnav-link topnav-menu-icon" onclick="dropDownMenu()">
        &#9776;
      </a>
    </div>
  </body>

  <div class="container">
    <div class="row">
      <h1>More Free Food?</h1>
      <h2>Add Below</h2>
    </div>
    <form class="jumbotron">
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Organization:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Event Name:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Type of Food:</strong>
        </div>
        <div class="col-xs-2">
          <select class="form-control" required>
            <option>Pizza</option>
            <option>Chipotle</option>
            <option>Panera Bread</option>
            <option>Subway</option>
            <option>Chick-fil-a</option>
            <option>Burgers</option>
            <option>Chinese Food</option>
            <option>Fast Food</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-check col-xs-2">
          <input class="form-check-input" type="checkbox" value="" id="vegetarianCheck">
          <label class="form-check-label" for="vegetarianCheck">
            Vegetarian Options
          </label>
        </div>
        <div class="form-check col-xs-2">
          <input class="form-check-input" type="checkbox" value="" id="veganCheck">
          <label class="form-check-label" for="veganCheck">
            Vegan Options
          </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Building Name and Room Number:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Street Address:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>City:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>State:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Zip Code:</strong>
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <strong>Time Frame of Event:</strong>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-2">
          <input type="time" class="form-control" required>
        </div>
        <div class="col-xs-1" style="text-align:center">
          to
        </div>
        <div class="col-xs-2">
          <input type="time" class="form-control" required>
        </div>
      </div>
  
      <button type="button" class="btn btn-success">Submit</button>
    </form>
  </div>
  </html>