<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-route.js"></script>
    
<head>
	<title>Food Baby</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div class ="topnav">
        <!-- Logo -->
		<a id="logo-link" href="../index.html">
            <img class="topnav-logo" src="../assets/images/foodbaby_temp.jpg" alt="Food Baby logo">
        </a>

      <!-- Page links -->
		<div class="topnav-right">
            <div class="topnav-placeholder"></div>
            <a class="topnav-link" href="freeFood.html">Free Food</a>
            <a class="topnav-link" href="locations.html">Locations</a>
            <a class="topnav-link" href="addFreeFood.html">Add Free Food</a>
        </div>
  
      <!-- Drop down menu -->
      <a href="javascript:void(0);" class="topnav-link topnav-menu-icon" onclick="dropDownMenu()">
        &#9776;
      </a>
    </div>
    <!-- placeholder -->
    <h2>Map of free food</h2>
    <p>Below, we should show an interactive map of the UF campus and nearby area, with pins on the map marking locations with free food.</p>
</body>
</html>
