<div class="container" ng-controller="DirectoryController">
  <div class="row">
    <h1>Upcoming Events</h1>
    <br>
  </div>
  <form>
    <div class="form-group row">
      <div class="col-xs-1">
        <strong>Search:</strong>
      </div>
      <div class="col-xs-5">
        <input type="text" class="form-control" ng-model="search">
      </div>
    </div>
    <!-- <span class="col-md-6" id="infoBox">
      <h2>Detailed Information</h2>
      <p id = "moreDetails"></p> 
    </span> -->
    <div class="form-group row">
      <div class="col-xs-1">
        <strong>Filter:</strong>
      </div>
      <div class="col-xs-5">
        To be Implemented
      </div>
    </div>
    <!-- need to add filter features -->
  </form>
  <br/>
  <h2>Detailed Information</h2>
  <table class="table">
    <tr>
      <th> Organization </th>
      <th> Event Name </th>
      <th> Date </th>
      <th></th>
    </tr>
    <tr ng-repeat="food in foods | filter: search" ng-click = "showDetails(food)">
        <td>{{food.organization}}</td>
        <td>{{food.eventname}}</td>
        <td>{{food.date}}</td>
        <td><button class="btn btn-danger" ng-click = "deleteFood(food)">Delete</button></td>
    </tr>
  </table>

</div>