<div>
<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZGF2aWRtYW50YTciLCJhIjoiY2pueW8yZ3VuMDM2NjNrczYxcWV0bGFlbiJ9.s5mhJ0Aoe-j4yzqeHM-TmQ';

var bounds = [
	[-82.3802, 29.6200],
	[-82.3304, 29.6640]
	];

var map = new mapboxgl.Map({
    container: 'map',
    //height: 50%,
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-82.3478, 29.6463],
    maxBounds: bounds,
    zoom: 13
});

map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
}));
</script>
</div>