<div class="container" ng-controller="LoginController">
  <h1 class="main-title">Admin Sign In</h1>
  <div ng-show="isError()" class="alert alert-danger">
      <span>{{ errmsg }}</span>
  </div>
  <form class="form-signin" ng-submit="adminSignIn()">
    <div>
      <h5>Username:</h5>
      <label for="uname" class="sr-only">Username</label>
      <input ng-model="user.username" type="text" class="form-control" placeholder="Enter Username" name="uname" required autofocus>
    </div>
    <div>
        <h5>Password:</h5>
      <label for="psw" class="sr-only">Password</label>
      <input ng-model="user.password" type="password" class="form-control" placeholder="Enter Password" name="psw" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>