<!-- googlemaps api -->
<!DOCTYPE html>
<html>

<head>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
	</style>
</head>

<body>
	<div id='map'>
	</div>
	<script>
		var map;
      var geocoder;
      var infoWindow;
      var posts;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 29.6463, lng: -82.3478},
          zoom: 15
        });

        geocoder = new google.maps.Geocoder();
        $.getJSON("https://food-baby-web-app.herokuapp.com/api/posts"/*"http://localhost:4000/api/posts"*/, function(posts) {
  		    for (var i in posts ){
  		    	generatePin(geocoder, map, posts[i]);
  		    }
		    });
        map.setCenter({lat: 29.6463, lng: 82.3478});
      }
      function generatePin(geocoder, map, Posts) {
        geocoder.geocode({'address': Posts.city + " " + Posts.address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });

            marker.addListener('click', function() {
              if (infoWindow) {
                infoWindow.close();
              }
              infoWindow = new google.maps.InfoWindow;
  	        	infoWindow.setPosition(marker.getPosition());
  	        	infoWindow.setContent(Posts.eventname + "<br>" + Posts.organization + "<br>" + Posts.address
						+ "<br>" + Posts.date + "<br>" + Posts.timefrom + " - " + Posts.timeto);
  	        	infoWindow.open(map, marker);
              map.setCenter(marker.getPosition());
	         });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh-MmFRXG5EfNFillIGcOrqKWT41NfeX4&callback=initMap"
    async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
