<div class="container">
  <h1 class="main-title">{{main.username}}'s Profile</h1>

  <div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading"><strong>User Profile</strong></div>

    <!-- Table --> 
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col" ><strong>Username</strong></th>
        <th scope="col"><strong>Email Address</strong></th>
        <th scope="col"><strong>Password</strong></th>
      </tr>
    </thead>
      <tr>
        <td>{{ main.username }}</td>
        <td>{{ main.useremail }}</td>
        <td>****************</td>
      </tr>
    </table>
  </div>
</div>