:root {
	/* Site colors */
	--dark-primary-color: #31353B;
	--light-primary-color: #F1F2EE;

	/* Text color */
	--primary-text-color: #31353B;
	--secondary-text-color: #EDEDED;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--light-primary-color);
}

.sidenav {
	font-family: 'Nothing You Could Do', cursive;
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--dark-primary-color);
	overflow-x: hidden;
	padding-top: 20px
}

/* Title */
.sidenav h1 {
	padding: 6px 8px 6px 16px;
	color: var(--secondary-text-color);
	background-color: var(--dark-primary-color);
}

#logo{
	height: 115px;
	width: auto;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 24px;
	color: var(--secondary-text-color);
	display: block;
}

/* hover over different site pages */
.sidenav a:hover {
	color: var(--primary-text-color);
	background-color: var(--light-primary-color);
}

.main {
	margin-left: 160px;
	/* Same width of the sidenav */
	padding: 20px 10px;
}

.main-title {
	padding-bottom: 14px;
}

.container{
	margin-left: 20px;
}

.card{
	/* height: 100px; */
	/* width: 100px; */
}

.card-img-top{
	opacity: 1.0;
	/* height: 50%;
	width: 50%; */
}

.card-img-top:hover{
	opacity: 0.5;
	cursor: pointer;
}

/* .shaded {
	background-color: #FAFAFA;
}

.card {
	overflow: hidden;
}

.showme {
	display: none;
} */


.card:hover .showme {
	display:block;
}

/* TODO: add animation on hover */
/* 

#infoBox {
	float:right;
	width: 40%;
}

table#dirtable {
	width : 60%;
}

table#dirtable, th, td {
	border: 1 px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
}

table#dirtable tr:nth-child(even) {
	background-color: var(--divider-color);
}

table#dirtable tr:nth-child(odd) {
	background-color: var(--accent-color);
}

table#dirtable th {
	background-color: var(--light-primary-color);
} */

/* Their code */
/* 
#searchBar {
	margin: 15px 10px;
}

.tableWrapper {
	max-height: 400px;
	overflow: auto;
}

.pointer {
	cursor: pointer;
} */

/* For the card-columns */
/* @media (min-width: 36em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 47em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 63em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
} */