:root {
	/* Site colors */
	--dark-primary-color: #31353B;
	--light-primary-color: #F1F2EE;

	/* Text color */
	--primary-text-color: #31353B;
	--secondary-text-color: #EDEDED;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--light-primary-color);
}

.sidenav {
	font-family: 'Nothing You Could Do', cursive;
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--dark-primary-color);
	overflow-x: hidden;
	padding-top: 20px
}

.main-title {
	font-family: 'Nothing You Could Do', cursive;
}

/* Title */
.sidenav h1 {
	font-size: 24px;
	padding: 6px 8px 6px 16px;
	color: var(--secondary-text-color);
	background-color: var(--dark-primary-color);
}

#logo {
	height: 115px;
	width: auto;
	margin-bottom: 25px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 24px;
	color: var(--secondary-text-color);
	display: block;
}

/* hover over different site pages */
.sidenav a:hover {
	color: var(--primary-text-color);
	background-color: var(--light-primary-color);
}

.main {
	margin-left: 160px;
	/* Same width of the sidenav */
	padding: 20px 10px;
}

.main-title {
	padding-bottom: 30px;
	padding-left: 15px;
}

.container {
	margin-left: 20px;
}

/* Form */
.form-indent {
	padding-left: 15px;
}

.card-img-top {
	opacity: 1.0;
}

.card-img-top:hover {
	opacity: 0.5;
	cursor: pointer;
}

.card:hover .showme {
	display: block;
}

@media (min-width: 36em) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 47em) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 63em) {
	.card-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 75em) {
	.card-columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

@media (min-width: 88em) {
	.card-columns {
		-webkit-column-count: 6;
		-moz-column-count: 6;
		column-count: 6;
	}
}



/* Sign in Section (Aka admin section) */
.signIn {
	width: 160px;
	position: absolute;
	bottom: 5%;
}

.form-signin {
	border: solid 1px var(--dark-primary-color);
	width: 50%;
	height: 400px;
}

.form-signin div {
	padding: 10px;
}

.form-signin div h5 {
	padding-top: 10px;

}

.form-signin button {
	margin: 5%;
	width: 90%;
}

.x-delete {
	padding-left: 10px;
}

.x-delete:hover {
	opacity: .50;
	cursor: pointer;
}

/* Thumbs up portion - Tallying */
.thumbsUp {
	position: absolute;
	right: 5px;
	/* top: 5px; */
}

.thumbsUp:hover {
	opacity: .80;
	cursor: pointer;
}

.tally-box {
	position: absolute;
	right: 50px;
	width: 20px;
	height: 30px;
	text-align: right;
	/* background-color: grey; */
}

.tally-box span {
	color: grey;
}

/* Home Page */

.homeImage {
	height: 50%;
	width: 50%;
	align-content: center;
	position: relative;
	left: 20%;
}

/* Profile Page */
.panel-heading {
	margin-bottom: 10px;
	text-align: center;
	/* font-family: 'Nothing You Could Do', cursive; */
}

/* Map */
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 3px 3px 10px gray;
}